body {
  overflow: hidden;
}

@keyframes circleColors {
  0% {
    background: radial-gradient(
      circle,
      rgba(107, 189, 254, 1) 0%,
      rgba(254, 107, 139, 1) 8%,
      rgba(131, 254, 111, 1) 22%,
      rgba(131, 254, 111, 1) 36%,
      rgba(113, 105, 229, 1) 51%,
      rgba(232, 0, 0, 1) 77%,
      rgba(255, 142, 83, 1) 96%,
      rgba(248, 255, 83, 1) 100%
    );
  }

  10% {
    background: radial-gradient(
      circle,
      rgba(254, 107, 139, 1) 8%,
      rgba(131, 254, 111, 1) 22%,
      rgba(107, 189, 254, 1) 0%,
      rgba(113, 105, 229, 1) 51%,
      rgba(232, 0, 0, 1) 77%,
      rgba(131, 254, 111, 1) 36%,
      rgba(248, 255, 83, 1) 100%,
      rgba(255, 142, 83, 1) 96%
    );
  }

  20% {
    background: radial-gradient(
      circle,
      rgba(248, 255, 83, 1) 100%,
      rgba(107, 189, 254, 1) 0%,
      rgba(131, 254, 111, 1) 22%,
      rgba(131, 254, 111, 1) 36%,
      rgba(254, 107, 139, 1) 8%,
      rgba(232, 0, 0, 1) 77%,
      rgba(255, 142, 83, 1) 96%,
      rgba(113, 105, 229, 1) 51%
    );
  }

  30% {
    background: radial-gradient(
      circle,
      rgba(131, 254, 111, 1) 22%,
      rgba(107, 189, 254, 1) 0%,
      rgba(131, 254, 111, 1) 36%,
      rgba(254, 107, 139, 1) 8%,
      rgba(232, 0, 0, 1) 77%,
      rgba(255, 142, 83, 1) 96%,
      rgba(248, 255, 83, 1) 100%,
      rgba(113, 105, 229, 1) 51%
    );
  }

  40% {
    background: radial-gradient(
      circle,
      rgba(131, 254, 111, 1) 22%,
      rgba(107, 189, 254, 1) 0%,
      rgba(131, 254, 111, 1) 36%,
      rgba(254, 107, 139, 1) 8%,
      rgba(232, 0, 0, 1) 77%,
      rgba(255, 142, 83, 1) 96%,
      rgba(248, 255, 83, 1) 100%,
      rgba(113, 105, 229, 1) 51%
    );
  }

  50% {
    background: radial-gradient(
      circle,
      rgba(131, 254, 111, 1) 22%,
      rgba(107, 189, 254, 1) 0%,
      rgba(131, 254, 111, 1) 36%,
      rgba(254, 107, 139, 1) 8%,
      rgba(232, 0, 0, 1) 77%,
      rgba(255, 142, 83, 1) 96%,
      rgba(248, 255, 83, 1) 100%,
      rgba(113, 105, 229, 1) 51%
    );
  }

  60% {
    background: radial-gradient(
      circle,
      rgba(131, 254, 111, 1) 22%,
      rgba(107, 189, 254, 1) 0%,
      rgba(131, 254, 111, 1) 36%,
      rgba(254, 107, 139, 1) 8%,
      rgba(232, 0, 0, 1) 77%,
      rgba(255, 142, 83, 1) 96%,
      rgba(248, 255, 83, 1) 100%,
      rgba(113, 105, 229, 1) 51%
    );
  }

  70% {
    background: radial-gradient(
      circle,
      rgba(131, 254, 111, 1) 22%,
      rgba(107, 189, 254, 1) 0%,
      rgba(131, 254, 111, 1) 36%,
      rgba(254, 107, 139, 1) 8%,
      rgba(232, 0, 0, 1) 77%,
      rgba(255, 142, 83, 1) 96%,
      rgba(248, 255, 83, 1) 100%,
      rgba(113, 105, 229, 1) 51%
    );
  }

  80% {
    background: radial-gradient(
      circle,
      rgba(131, 254, 111, 1) 22%,
      rgba(107, 189, 254, 1) 0%,
      rgba(131, 254, 111, 1) 36%,
      rgba(254, 107, 139, 1) 8%,
      rgba(232, 0, 0, 1) 77%,
      rgba(255, 142, 83, 1) 96%,
      rgba(248, 255, 83, 1) 100%,
      rgba(113, 105, 229, 1) 51%
    );
  }

  90% {
    background: radial-gradient(
      circle,
      rgba(131, 254, 111, 1) 22%,
      rgba(107, 189, 254, 1) 0%,
      rgba(131, 254, 111, 1) 36%,
      rgba(254, 107, 139, 1) 8%,
      rgba(232, 0, 0, 1) 77%,
      rgba(255, 142, 83, 1) 96%,
      rgba(248, 255, 83, 1) 100%,
      rgba(113, 105, 229, 1) 51%
    );
  }

  100% {
    background: radial-gradient(
      circle,
      rgba(131, 254, 111, 1) 22%,
      rgba(107, 189, 254, 1) 0%,
      rgba(131, 254, 111, 1) 36%,
      rgba(254, 107, 139, 1) 8%,
      rgba(232, 0, 0, 1) 77%,
      rgba(255, 142, 83, 1) 96%,
      rgba(248, 255, 83, 1) 100%,
      rgba(113, 105, 229, 1) 51%
    );
  }
}
